<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<head>
    <title>Admin</title>
</head>
<style>
    .table{
        margin: 5% 5% ;
    }
</style>
<body>
    <h2 style="text-align: center;"><u>This is the Admin Page</u></h2>

    <table class="table table-striped table-dark">
        <thead>
          <tr>

            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Time of Creation</th>
          </tr>
        </thead>
        <tbody>
        {% for user in data %}
          <tr>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.time}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</body>
</html>